// Fichier : /etc/bind/named.conf.local
// SERVEUR MAITRE
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

// zone {{ domain }}
zone "{{ domain }}" IN {
           type master;
           file "/etc/bind/vlne.fw.zone";
           notify yes;
};
// zone inverse {{ domain }}
zone "45.168.192.in-addr.arpa" {
           type master;
           file "/etc/bind/vlne.rev.zone";
	notify yes;
};
